/* Container for everything */
/* TODO: Vertically center align text for browser */
.home-container
{
	display : grid;
	grid-template-columns : 1fr 1fr;
	grid-gap : 20px;
}

/* Title and description */
.description
{
	display        : inline-block;
	height         : 100vh;
	vertical-align : middle;
}

.description p
{
	margin-top    : 50px;
	margin-bottom : 25px;
}

/* Google play store badge */
#google-play
{
	margin-left : -15px;
	width       : 200px;
}

/* Pics showcasing the app */
#app-showcase
{
	border-radius : 10px;
	height : 80vh;
	margin : auto 10%;
}

/* -------------- */
/* Phone settings */
/* -------------- */

@media screen and (max-width : 1080px)
{

	/* Container for everything */
	.home-container
	{
		display : inline;
	}

	/* Title and description */
	.description
	{
		height : auto;
		margin : 200px auto;
	}

	.description p
	{
		margin-top    : 100px;
		margin-bottom : 50px;
	}

	/* Google play store badge */
	#google-play
	{
		width : 300px;
	}

}

