/* -------------------------------------------------------------------------- */
/* Html and body */
/* -------------------------------------------------------------------------- */

html,
body
{
	height : 100%;
}

h1 a
{
	font-weight     : bold;
	text-decoration : none;
}

h2
{
	color       : #fb8c00;
	font-weight : bold;
}

h1 + p,
h2 + p
{
	margin-top    : 25px;
	margin-bottom : 25px;
}

/* Divider */
.my-divider
{
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 0, 0, 0.25);
	border: solid rgba(0, 0, 0, 0.25);
	border-width: 2px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* How app icon and name look together */
.app-icon-and-name
{
	max-height    : 36px;
	padding-right : 12px;
}

/* -------------------------------------------------------------------------- */
/* Page sections */
/* -------------------------------------------------------------------------- */

section
{
	padding-top    : 2.5%;
	padding-bottom : 2.5%;
}

