@import "../../lib/node_modules/bootstrap/scss/functions";
//@import "../lib/node_modules/bootstrap/scss/variables";

// Variable overrides first
$primary: #fb8c00;
$enable-shadows: true;
$prefix: "nac-";

// This seems to be the default
//$color-mode-type: data;

//@include color-mode(dark) {
//
//	// My defaults
//	$body-color     : #aaaaaa;
//	$font-size-base : 1.125rem;
//
//	$link-color       : white;
//	$link-hover-color : $primary;
//
//	$nav-link-color       : white;
//	$nav-link-hover-color : $primary;
//
//	$body-tertiary-bg : #1e1e1e;
//}

// Then import Bootstrap
@import "../../lib/node_modules/bootstrap/scss/bootstrap";

// Set default settings (Dark theme is the default for this website)
[data-bs-theme="dark"]
{

	// 
	// DEFAULT SCREEN
	// 

	--nac-body-color : #aaaaaa;
	--nac-body-font-size : 1.125rem;
	--nac-gutter-x : 3rem;

	html,
	body
	{
		height : 100%;
	}

	section
	{
		padding-top    : 6%;
		padding-bottom : 6%;

		&:first-child
		{
			padding-top    : 0;
			padding-bottom : 0;
		}

	}

	h1
	{
		font-weight : bold;

		a
		{
			text-decoration : none;
		}
	}

	h2
	{
		color       : var(--nac-primary);
		font-weight : bold;
	}

	h1 + p,
	h2 + p
	{
		margin-top    : 25px;
		margin-bottom : 25px;
	}

	a
	{
		--nac-link-color-rgb : #{to-rgb(white)};

		&:hover
		{
			--nac-link-hover-color-rgb : #{to-rgb($primary)};
		}
	}

	// 
	// COMPUTER SCREEN
	// 

	@include media-breakpoint-up(lg)
	{
		--nac-gutter-x : 1.5rem;

		// Make section padding a little smaller on bigger screens
		section
		{
			padding-top    : 3%;
			padding-bottom : 3%;
		}

	}

}

//// Functions first
//@import "../lib/node_modules/bootstrap/scss/functions";
//
//// Variable overrides first
//$primary: #900;
//$enable-shadows: true;
//$prefix: "nac-";
//
//$body-bg: red;
//$body-color: green;
//
//$tertiary-bg-rgb: black;
//$navbar-brand-color: red;
//$navbar-brand-hover-color: #fb8c00;
//
//// Required Bootstrap imports
//@import "../lib/node_modules/bootstrap/scss/variables";
//@import "../lib/node_modules/bootstrap/scss/variables-dark";
//@import "../lib/node_modules/bootstrap/scss/maps";
//@import "../lib/node_modules/bootstrap/scss/mixins";
//@import "../lib/node_modules/bootstrap/scss/root";
//
//// Optional components
//@import "../lib/node_modules/bootstrap/scss/utilities";
//@import "../lib/node_modules/bootstrap/scss/reboot";
//@import "../lib/node_modules/bootstrap/scss/containers";
//@import "../lib/node_modules/bootstrap/scss/grid";
//@import "../lib/node_modules/bootstrap/scss/helpers";
//@import "../lib/node_modules/bootstrap/scss/utilities/api";

