/* Group for a particular thing the user will enter */
.form-group
{
	margin-top    : 30px;
	margin-bottom : 30px;
	text-align    : start;
}

/* Text area where a user will enter a message */
.form-control.textarea
{
	resize : vertical;
}

/* Label right above each entry box indicating what a thing is for */
.form-label
{
	color       : var(--nac-primary);
	font-weight : bold;
}

/* Normal span style */
#contact-send > span
{
	margin-left  : 0.5rem;
	margin-right : 0.5rem;
}

/* Normal i style */
#contact-send > i
{
	display   : none;
	font-size : 1rem;
}

/* Span style when send is active */
.is-sending > span
{
	margin-left : 0.85rem !important;
}

/* i style when send is active */
.is-sending > i
{
	display      : inline-block !important;
	margin-right : 0.5rem !important;
}

/* Contact feedback */
#contact-empty-feedback,
#contact-success-feedback,
#contact-failure-feedback
{
	padding-top : 0.25rem;
}

#contact-empty-feedback
{
	display : block;
	height  : 1.72rem;
	margin-top : 0.25rem;
}

/*
	color : var(--nac-form-invalid-color);
	color : var(--nac-form-valid-color);
*/

