// Imports
@use "sass:math";
@import "../lib/node_modules/bootstrap/scss/functions";
@import "../lib/node_modules/bootstrap/scss/variables";
@import "../lib/node_modules/bootstrap/scss/mixins";

$feature-image-aspect-ration    : math.div(108, 215);
$feature-image-height           : 75vh;
$feature-image-width            : $feature-image-height * $feature-image-aspect-ration;
$feature-caption-width          : $feature-image-width;
$feature-control-button-size    : 48px;
$feature-control-button-padding : math.div($feature-control-button-size, 2);

// Feature image
.feature-img
{
	// Size the image (1080x2150)
	aspect-ratio : $feature-image-aspect-ration;
	height : $feature-image-height;
	max-width : 1080px;

	// Round the edges of the image
	border-radius : 10px;
}

.fa-stack
{
	font-size : 1.75rem;
}

.fa-stack > i
{
	vertical-align : middle;
}

// Carousel
.carousel
{
	padding-top    : 25px;
	padding-bottom : 25px;
}

// Carousel buttons to go previous and next
.carousel-control-next,
.carousel-control-prev
{
	padding : 0 $feature-control-button-padding;
	width : auto;
	opacity : 1;
}

// Previous button
.carousel-control-prev
{
	left : auto;
	// For phones
	right : calc(50% + ($feature-image-width - $feature-control-button-size)/2 - $feature-control-button-padding);
	//right : calc(50% + $feature-image-width/2 + 0*$feature-control-button-size/2);
}

// Next button
.carousel-control-next
{
	// For phones
	left : calc(50% + ($feature-image-width - $feature-control-button-size)/2 - $feature-control-button-padding);
	//left : calc(50% + $feature-image-width/2 + 0*$feature-control-button-size/2);
	right : auto;
}

.carousel-control-prev .fa-circle,
.carousel-control-next .fa-circle
{
	color      : #101010;
	transition : color 1s ease;
}

.carousel-control-prev .fa-arrow-left,
.carousel-control-next .fa-arrow-right
{
	//color : #212529;
	color      : #F0F0F0;
	transition : color 1s ease;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus
{
	opacity : 1;

	.fa-circle
	{
		color : white;
	}

	.fa-arrow-left,
	.fa-arrow-right
	{
		color : #101010;
	}

}

//.carousel-control-prev .fa-arrow-left
//{
//	color : white;
//}

//.carousel-control-next,
//.carousel-control-prev
//{
//	padding : 0 48px;
//	position : static;
//	width : auto;
//}
//
//.carousel-inner
//{
//	margin-left : 0;
//	margin-right : 0;
//}
//
//.carousel-item
//{
//	float : left;
//	margin : 0;
//	padding-left : 0;
//	padding-right : 0;
//	position : relative;
//	//position : static;
//	width : auto;
//}
//
////.carousel-item.active, .carousel-item-next, .carousel-item-prev
////{
////	display : inline;
////}

// Dark theme
[data-bs-theme="dark"]
{

	// Carousel
	.carousel
	{

		// Page indicator
		.carousel-indicators [data-bs-target],
		& .carousel-indicators [data-bs-target]
		{
			background-color: white;
			opacity : 0.25;
		}

		// Page caption
		.carousel-caption,
		& .carousel-caption
		{
			color: white;
		}

	}

	// Page caption
	.carousel-caption
	{
		// Have a backdrop behind the caption to make reading it easier
		background-color : rgba(0, 0, 0, 0.85);

		// Center and position the caption
		bottom  : 0;
		left    : 0;
		margin  : 0 auto;
		padding : 1rem 1.5rem;
		right   : 0;

		// Size of the caption
		width : $feature-caption-width;

		// Page title
		h5
		{
			color : var(--nac-primary);
			font-weight : bold;
		}

	}

	// Page indicator
	.carousel-indicators
	{
		margin-top : 1rem;
		margin-bottom : 0;
		position : static;

		// Active page
		.active
		{
			// Make the color of the page obvious
			opacity : 1 !important;
		}

	}

}

// 
// COMPUTER SCREEN
// 

@include media-breakpoint-up(lg)
{
	$feature-image-height           : 90vh;
	$feature-image-width            : $feature-image-height * $feature-image-aspect-ration;
	$feature-caption-width          : $feature-image-width;
	$feature-control-button-padding : $feature-control-button-size;

	// Feature image
	.feature-img
	{
		// Size the image (1080x2150)
		height : $feature-image-height;
	}

	// Carousel buttons to go previous and next
	.carousel-control-next,
	.carousel-control-prev
	{
		padding : 0 $feature-control-button-padding;
	}

	// Previous button
	.carousel-control-prev
	{
		right : calc(50% + $feature-image-width/2);
	}

	// Next button
	.carousel-control-next
	{
		left : calc(50% + $feature-image-width/2);
	}

	// Dark theme
	[data-bs-theme="dark"]
	{

		// Page caption
		.carousel-caption
		{
			// Size of the caption
			width : $feature-caption-width;
		}

	}

}

