@import "../lib/node_modules/bootstrap/scss/functions";
//@import "../lib/node_modules/bootstrap/scss/variables";

// Variable overrides first
$primary: #fb8c00;
$enable-shadows: true;
$prefix: "nac-";

// This seems to be the default
//$color-mode-type: data;

//@include color-mode(dark) {
//
//	// My defaults
//	$body-color     : #aaaaaa;
//	$font-size-base : 1.125rem;
//
//	$link-color       : white;
//	$link-hover-color : $primary;
//
//	$nav-link-color       : white;
//	$nav-link-hover-color : $primary;
//
//	$body-tertiary-bg : #1e1e1e;
//}

// Then import Bootstrap
@import "../lib/node_modules/bootstrap/scss/bootstrap";

//// Required Bootstrap imports
//@import "../lib/node_modules/bootstrap/scss/variables";
//@import "../lib/node_modules/bootstrap/scss/variables-dark";
//@import "../lib/node_modules/bootstrap/scss/maps";
//@import "../lib/node_modules/bootstrap/scss/mixins";
//@import "../lib/node_modules/bootstrap/scss/root";
//
//// Optional components
//@import "../lib/node_modules/bootstrap/scss/utilities";
//@import "../lib/node_modules/bootstrap/scss/reboot";
//@import "../lib/node_modules/bootstrap/scss/containers";
//@import "../lib/node_modules/bootstrap/scss/grid";
//@import "../lib/node_modules/bootstrap/scss/helpers";
//@import "../lib/node_modules/bootstrap/scss/utilities/api";
//
//// Extra optional components
//@import "../lib/node_modules/bootstrap/scss/accordion";
//@import "../lib/node_modules/bootstrap/scss/alert";
//@import "../lib/node_modules/bootstrap/scss/badge";
//@import "../lib/node_modules/bootstrap/scss/breadcrumb";
//@import "../lib/node_modules/bootstrap/scss/button-group";
//@import "../lib/node_modules/bootstrap/scss/buttons";
//@import "../lib/node_modules/bootstrap/scss/card";
//@import "../lib/node_modules/bootstrap/scss/carousel";
//@import "../lib/node_modules/bootstrap/scss/close";
//@import "../lib/node_modules/bootstrap/scss/dropdown";
//@import "../lib/node_modules/bootstrap/scss/forms";
//@import "../lib/node_modules/bootstrap/scss/images";
//@import "../lib/node_modules/bootstrap/scss/list-group";
//@import "../lib/node_modules/bootstrap/scss/modal";
//@import "../lib/node_modules/bootstrap/scss/nav";
//@import "../lib/node_modules/bootstrap/scss/navbar";
//@import "../lib/node_modules/bootstrap/scss/offcanvas";
//@import "../lib/node_modules/bootstrap/scss/pagination";
//@import "../lib/node_modules/bootstrap/scss/placeholders";
//@import "../lib/node_modules/bootstrap/scss/popover";
//@import "../lib/node_modules/bootstrap/scss/progress";
//@import "../lib/node_modules/bootstrap/scss/spinners";
//@import "../lib/node_modules/bootstrap/scss/tables";
//@import "../lib/node_modules/bootstrap/scss/toasts";
//@import "../lib/node_modules/bootstrap/scss/tooltip";
//@import "../lib/node_modules/bootstrap/scss/transitions";
//@import "../lib/node_modules/bootstrap/scss/type";

/* Divider */
.my-divider
{
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 0, 0, 0.25);
	border: solid rgba(0, 0, 0, 0.25);
	border-width: 2px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* How app icon and name look together */
.app-icon-and-name
{
	max-height    : 36px;
	margin-right : 12px;
}

// Set default settings (Dark theme is the default for this website)
[data-bs-theme="dark"]
{

	// 
	// DEFAULT SCREEN
	// 

	--nac-body-color : #aaaaaa;
	--nac-body-font-size : 1.125rem;
	--nac-gutter-x : 3rem;

	html,
	body
	{
		height : 100%;
	}

	section
	{
		padding-top    : 9%;
		padding-bottom : 9%;

		&:first-child
		{
			padding-top    : 0;
			padding-bottom : 0;
		}

	}

	h1
	{
		font-weight : bold;

		a
		{
			text-decoration : none;

			&:hover
			{
				color : $primary;
			}
		}
	}

	h2
	{
		color       : var(--nac-primary);
		font-weight : bold;
	}

	h1 + span + p,
	h1 + p,
	h2 + p
	{
		padding-top    : 25px;
		padding-bottom : 25px;
	}

	a
	{
		--nac-link-color-rgb : #{to-rgb(white)};

		&:hover
		{
			--nac-link-hover-color-rgb : #{to-rgb($primary)};
		}
	}

	.subtitle
	{
		color     : white;
		font-size : 0.8em;
		opacity   : 0.85;
	}

	// 
	// COMPUTER SCREEN
	// 

	@include media-breakpoint-up(lg)
	{
		--nac-gutter-x : 1.5rem;

		// Make section padding a little smaller on bigger screens
		section
		{
			padding-top    : 3%;
			padding-bottom : 3%;
		}

	}

}

//// Functions first
//@import "../lib/node_modules/bootstrap/scss/functions";
//
//// Variable overrides first
//$primary: #900;
//$enable-shadows: true;
//$prefix: "nac-";
//
//$body-bg: red;
//$body-color: green;
//
//$tertiary-bg-rgb: black;
//$navbar-brand-color: red;
//$navbar-brand-hover-color: #fb8c00;
//
//// Required Bootstrap imports
//@import "../lib/node_modules/bootstrap/scss/variables";
//@import "../lib/node_modules/bootstrap/scss/variables-dark";
//@import "../lib/node_modules/bootstrap/scss/maps";
//@import "../lib/node_modules/bootstrap/scss/mixins";
//@import "../lib/node_modules/bootstrap/scss/root";
//
//// Optional components
//@import "../lib/node_modules/bootstrap/scss/utilities";
//@import "../lib/node_modules/bootstrap/scss/reboot";
//@import "../lib/node_modules/bootstrap/scss/containers";
//@import "../lib/node_modules/bootstrap/scss/grid";
//@import "../lib/node_modules/bootstrap/scss/helpers";
//@import "../lib/node_modules/bootstrap/scss/utilities/api";

