/* Each site to donate to */
.donation-site
{
	padding-top    : 20px;
	padding-bottom : 20px;
}

/* Each button that has text */
.donation-site > a
{
	font-weight : bold;
}

/* Each button that has an image next to the text */
.donation-site > a > img,
.donation-site > a > svg
{
	padding-right : 12px;
}

/* Coindrop */
#coindrop-btn
{
	background-color : #ebebeb;
	border           : none;
}

#coindrop-btn img
{
	height : 39px;
}

