/* ------------- */
/* Main settings */
/* ------------- */

header
{
	background-color : black;
	box-shadow       : 0 0.25em 0.25em -0.25em #fb8c00;
	margin-bottom    : 0.5em;
	position         : fixed;
	width            : 100%;
}

header a,
header button
{
	color : white;
}

header a:hover,
header button:hover
{
	color       : #fb8c00;
	text-shadow : 0 0.25em 1em #a9a9a9;
}

/* Side nav */
 /* The side navigation menu */
.sidenav {
	/* Reverse these two descriptions because want it to come from top */
	height: 100%;
	width: 0;

	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */

	 /* Put nav on right side */
	left: 0;

	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	/*
	position: absolute;
	top: 0;
	right : 25px;
	margin-left: 50px;
	*/
	font-size: 36px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/* --------------- */
/* Custom settings */
/* --------------- */

#header .navbar
{
	overflow : hidden;
}

#header .navhome,
#header .navlinks
{
	padding : 0.75em 0;
}

#header .navhome
{
	float : left;
}

#header .navlinks
{
	float : right;
}

#header .navbar a
{
	padding         : 0 1em;
	text-align      : center;
	text-decoration : none;
}

#header .navhome a
{
	color       : #fb8c00;
	font-weight : bold;
}

/* Hamburger icon container */
.hamburger
{
	display        : inline-block;
	cursor         : pointer;
	margin-right   : 25px;
	vertical-align : middle;
	z-index : 10;
}

/* Meat of the hamburger */
.bar1, .bar2, .bar3
{
	background-color : white;
	margin           : 6px 0;
	transition       : 0.4s;
	width            : 35px;
	height           : 5px;
}

/* Toggle this class when the hamburger icon is clicked */
.change .bar1
{
	transform : translate(0, 11px) rotate(-45deg);
}

/* Toggle this class when the hamburger icon is clicked */
.change .bar2
{
	opacity : 0;
}

/* Toggle this class when the hamburger icon is clicked */
.change .bar3
{
	transform : translate(0, -11px) rotate(45deg);
}

